* {
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-family: 'Rubik';
}

.container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 85%;
}

.card {
    flex-basis: 500px;
    border-radius: 4px;
    border: 1px solid black;
    padding: 1em;
    margin: 1.5em;
}

.description{
    display: none;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}