* {
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    font-family: VT323;
}

.container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
    width: 85%;
}

.card {
    flex: 1;
    border-radius: 4px;
    border: 1px solid black;
    padding: 1em;
    margin: 1.5em;
    min-width: 300px;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}